# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# OS
.DS_Store
Thumbs.db

# Virtualenv
venv/
.venv/
env/

# Data & Large Artifacts (Project Specific)
data/
doppler_models/
results/
*.pt
*.csv
*.npy

# Environment
.env
.env.example
